<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%- title %></title>
  <meta name="description" content="Ritzy Collaborative Real-time Browser-Based Editor Demo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      padding-top: 30px;
      padding-left: 30px;
      background-color: #f9f9f9;
      font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    @media (max-width: 980px) {
      body {
        padding-top: 0;
        padding-left: 0;
      }
    }
  </style>
</head>
<body>
<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<h1>Ritzy Editor Demo</h1>

<p><a href="http://ritzyed.github.io/ritzy">Ritzy</a> is an open source, cross-browser (IE10+ and evergreen browsers),
  rich text, real-time collaborative editor for the web! Ritzy is built with Google Docs style real-time collaborative
  editing support from the ground up.</p>

<p>You can create a new editor instance. You will be redirected to a new URL that is specific to the created editor.
  That URL can be opened in another window or shared with buddies.</p>

<p><a href="/editor/create">Create a new editor instance now.</a></p>

<p>See the <a href="https://github.com/ritzyed/ritzy">editor project source</a> or the <a
  href="https://github.com/ritzyed/ritzy-demo">source for this demo</a>.</a></p>

</body>
</html>
